@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

@{
    Layout = null;

}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Crazy Toys">
    <meta name="keywords" content="Crazy_Toys, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crazy Toys</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/css/style.css" type="text/css">
    <link rel="stylesheet" href="~/css/crazy-toys.css" type="text/css">



</head>

<body>

 
   <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
  
    <!-- Offcanvas-->
    @Html.Partial("~/Views/Partials/Offcanvas.cshtml")

    <!-- Header-->
    @Html.Partial("~/Views/Partials/Header.cshtml")
    
    @RenderBody()

    <!--Footer-->
    @Html.Partial("~/Views/Partials/Footer.cshtml")

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Søg her.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
    <script src="~/scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jquery.nice-select.min.js"></script>
    <script src="~/scripts/jquery.nicescroll.min.js"></script>
    <script src="~/scripts/jquery.magnific-popup.min.js"></script>
    <script src="~/scripts/jquery.countdown.min.js"></script>
    <script src="~/scripts/jquery.slicknav.js"></script>
    <script src="~/scripts/mixitup.min.js"></script>
    <script src="~/scripts/owl.carousel.min.js"></script>
    <script src="~/scripts/main.js"></script>
    <script src="~/scripts/crazy-toys.js"></script>

    <script src="~/scripts/shop.js"></script>
    <script src="~/scripts/shop-details.js"></script>




</body>

</html>


