@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<OrderConfirmation>
@{
	Layout = "Master.cshtml";
}

<section class="about spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align: center">
                <div class="about__item">
                    <h2>@Model.Title</h2>
                    <h4>@Model.MainContent</h4>
                </div>
            </div>
        </div>
    </div>
</section>